body{overflow:hidden;z-index:1;width:100%;/*background:url(../images/BG.jpg);background-position:49% 220px;background-size:188%;background-repeat:no-repeat;*/background-color:#490708;color:#FFF;font-family:黑体;font-weight:bold;}
/*body{background:url(../images/POKER_BG.jpg);opacity:0.1;background-position:0 0;background-size:25%;background-repeat:repeat;}
body{overflow:hidden;z-index:1;width:100%;background:url(../images/BG.jpg), url(../images/POKER_BG.jpg);background-position:49% 220px, 0 0;background-size:188%, 25%;background-repeat:no-repeat, repeat;color:#FFF;font-family:黑体;font-weight:bold;}
*/
/* body{z-index:1;width:100%;background:url(../images/BG.jpg), url(../images/POKER_BG.jpg);background-position:49% 220px, 0 0;background-size:188%, 25%;background-repeat:no-repeat, repeat;color:#FFF;font-family:黑体;font-weight:bold;}
 */
/* body{width:100%;background:url(../images/BG.png) #490708;background-position:49% 220px;background-size:188%;background-repeat:no-repeat;color:#FFF;font-family:黑体;font-weight:bold;}
*/
/*@media screen and (max-width:500px){*//* 窄屏 */
    #spinArea{width:80%;position:absolute;left:10%;top:125px;}
    #spinBackground{position:absolute;z-index:-89;top:0;left:0;width:100%;height:100%;background:url(../images/BG.jpg);background-position:49% 100px;background-size:165%;background-repeat:no-repeat;}
    .bg{width:85%;left:7.5%;z-index:0;position:absolute;}
    #background{width:100%;}

    .turntable-bg{position:relative;width:85%;left:7.5%;}
    .turntable-bg .rotate{position:absolute;width:84.5%;left:7.8%;margin-top:7.8%;}
    #rotate{width:100%;}
    .turntable-bg .arrow{width:48%;z-index:7;left:26%;margin-top:-2%;margin-top:-16px;position:absolute;}/* 25%是50的一半 */
    .turntable-bg .pointer{width:40%;left:30%;margin-top:30%;margin-top:80px;position:absolute;z-index: 8;} /* 40%是80的一半 */
    /* .turntable-bg .pointerMask{width:40%;left:30%;margin-top:0;position:absolute;} 40%是80的一半
     */
    /*左侧个人信息区域开始*/
    #info{position:absolute;width:80%;height:45px;font-size:14px;font-size:1em !important;text-align:left;left:10%;margin-top:1%;}
    #info article{border:2px solid #8E0107;display:inline-block;position:absolute;/* font-size:1em; */font-size:1em;padding:2.5px 2.5px 2.5px 3%;z-index:-1;box-sizing:border-box;width:90%;left:14%;bottom:0;}
    #figure{width:15%;display:inline-block;position:absolute;}
    #name{line-height:20px;}
    #ticketLeft{line-height:20px;}
    /*左侧个人信息区域结束*/

     /*左侧简介区域开始*/
    #intro{width:100%;background:rgba(0,0,0,0.5);padding-top:20px;border:2px solid #8E0107;position:absolute;/* top:80%; */margin-top:340px;margin-top:calc(52px + 80%) !important;font-size:1em;padding-left:15%;padding-right:15%;box-sizing:border-box;margin-bottom:20px;}
    #title{display:block;text-align:left;line-height:1.6em;}
    #introduction{display:block;text-align:left;line-height:1.6em;font-size:1em;padding:10px 0;}
    #introduction span{display:block;}
    .btns button{width:47%;padding:4px 0;border-radius:3px;}
    .btns button:first-child{margin-right:2%;}
    /*左侧简介区域结束*/
/*}*/
/* #spinArea{background:url(../images/BG.jpg) #490708;background-position:45% -20%;background-size:185%;background-repeat:no-repeat;} */
#roatBG{z-index:-1;position:absolute;width:185%;left:-42%;top:13%;display:none;}

.turntable-bg .pointer img, .turntable-bg .arrow img{width:100%;}
#yellow{color:#FFF337;font-size:2em;font-weight:bold;}
#awardInform .yellow{color:#FFF337;font-size:1.3em;font-weight:bold;display:inline-block;}
.btns{display:none;}
#intro .btns{display:block;text-align:justify;margin-top:10px;margin-bottom:10px;}
.btns button{text-align:center;color:#FFF;font-weight:bold;background:linear-gradient(#FA807E,#DB2726,#B40000);border:1px solid #FEC5C4;box-shadow:inset 0 0 0 1px #B70000, 0 0 0 1px #B70000;  /* background:url(../images/btnBG.png);background-repeat:no-repeat;background-size:100% 100%; */font-size:1em;outline:none;}
/*.turntable-bg {background: url("../images/turntable-bg.jpg");}*/
.turntable-bg .mask {
  width: 454px;
  height: 451px;
  position: absolute;
  left: 116px;
  top: 60px;
  /*z-index:9;*/
}
#roatBG{z-index:-1;position:absolute;width:185%;left:-42%;top:13%;display:none;}

#mask{width:100%;height:100%;position:absolute;left:0;top:0;background-color: rgba(0,0,0,0.8);z-index:10;display:none;}
#header{width:100%;text-align:center;background:#6D0B0B;}
#header img{width:90%;height:40px;margin-top:10px;margin-bottom:-2px;}
#header .title{position:absolute;font-size:1.5em;width:90%;left:5%;top:22px;}

/*-----------------------抽獎規則彈出窗部分-------------------------*/
#popup{font-family:黑体;font-weight:normal;z-index:99;border:2px solid #C00404;width:85%;position:absolute;left:7.5%;text-align:center;display:none;}
#close::before{content: "\2716";}
#close{color:#4F0707;font-size:1.5em;position:absolute;top:10px;right:6px;}

#popup header{display:block;background:#6D0B0B;border-bottom:2px solid #C00404;}
#popup header img{width:60%;height:40px;margin-top:5px;margin-bottom:-4px;}
#popup header .title{position:absolute;z-index:15;font-size:1.5em;height:80px;display:inline-block;width:60%;left:20%;top:20px;}

#outerArticle{overflow:scroll;padding:5px 1em;font-size:1em;text-align:left;min-height:100px;max-height:300px;background:transparent;}
#outerArticle title{display:block;text-align:left;line-height:1.5em;font-size:1em;}
#outerArticle article{display:block;text-indent:2em;line-height:1.5em;font-size:1em;}
/*------------------------抽獎規則彈出窗部分------------------------*/

/*------------------------已獲得獎品彈出窗部分------------------------*/
#awardPop{z-index:99;border:2px solid #C00404;width:90%;position:absolute;left:5%;text-align:center;display:none;}
#awardPop header{display:block;background:#6D0B0B;border-bottom:2px solid #C00404;}
#awardPop header img{width:55%;height:40px;margin-top:5px;margin-bottom:-4px;}
#awardPop header .title{position:absolute;z-index:15;font-size:1.5em;height:40px;width:55%;left:22.5%;top:16px;}

#awardArticle{overflow:scroll;text-align:left;min-height:60px;max-height:300px;background:transparent;}

table{width:99.9%;font-weight:bold;background:transparent;display:table;z-index:999;color:#FFF;font-weight:bold;}
tbody, tr{width:100%;}
table td, table th{width:30%;text-align:center;height:35px;}
table td:nth-child(1),table th:nth-child(1){width:40%;}
table td:nth-child(2),table th:nth-child(2){width:35%;}
table td:nth-child(3),table th:nth-child(3){width:20%;}
/* table td:nth-child(4),table th:nth-child(4){width:20%;} */
table td a{width:100%;display:block;}
.got{color:#0F8435;font-weight:bold;}
.notgot{color:#BE9B11;font-weight:bold;}
/*------------------------已獲得獎品彈出窗部分------------------------*/

/*------------------------提示獲得獎品彈出窗部分------------------------*/
#sucPop,#informPop{background:#6D0B0B;z-index:99;border:2px solid #C00404;width:90%;color:#FFF;position:absolute;left:5%;text-align:center;display:none;}
#sucPop header,#informPop header{display:block;height:40px;}
.ret{color:#4F0707;color:#FFF;font-size:1.5em;position:absolute;top:10px;right:6px;}
.ret::before{content: "\2716";}

#sucArticle{display:none;padding:20px 20px 60px;text-align:center;font-size:1em;}
#sucArticle span{display:block;line-height:2.5em;}

#informArticle{padding:20px 20px 60px;text-align:center;font-size:1em;}
#informArticle span{display:block;line-height:1.5em;}

#pwdArticle{display:none;padding:5px 5px 30px;text-align:center;font-size:1em;}
#pwdArticle span{line-height:2em;}
#cardNo, #cardPwd{background:#410404;padding:4px 7px;}
#pwdArticle .small{font-size:1em;text-align:left;line-height:3em;}
/*------------------------提示獲得獎品彈出窗部分------------------------*/

.ret, #close{color:#4F0707;color:#FFF;}
#cong{width:100%;position:absolute;z-index:99;top:10%;display:none;}
#awardInform{width:100%;display:none;font-size:1.2em;text-align:center;position:absolute;z-index:99;margin-top:60%;line-height:2em;}
#awardInform span{display:block;}
#awardInform #yellow{display:inline-block;}
#awardInform button{font-size:1.5em;text-align:center;color:#FFF;font-weight:bold;width:80%;margin-left:5%;height:1.5em;line-height:1.5em;background:#317707;background:linear-gradient(#AEE569,#6BAE29,#317707);border:1px solid #7CB61B;border-radius:1em;margin-top:25px;}

#popup,#awardPop,#sucPop{top:70px;}
#informPop{top:120px;}
#wholeBack{/*width:100%;height:100%;*/position:absolute;margin-top:0px;left:0;z-index:-99;background:url(../images/POKER_BG.jpg);background-size:23%;background-position:-9% 0;background-repeat:repeat;opacity:0.1;}


#leftDeng{position:absolute;top:23px;left:0;width:48%;transform: rotate(0deg);box-sizing:border-box;}
#rightDeng{-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;transform: rotateY(180deg);/*only for webkit*/
  position:absolute;top:23px;left:52%;width:48%;box-sizing:border-box;}

  #wareImg{width:10%;/* margin:0 10px; */margin-bottom:-2%;}